/*Generics*/
footer{
    height: 80px;
    background-color: #F8F9FA;
}
/*Main*/
#grid{
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
.cell {
    border: 1px solid black;
    height: calc(100% / 10);
    flex-basis: calc(100% / 10);
    cursor: pointer;
}

#grid .clicked{
    background-color: red;
}